{% extends "@App/templates/general.html.twig" %}

{% block title %}
Modifier la commande
{% endblock %}

{% block body %}

{# Formulaire de modification d'une commande #}
{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.client) }}
</div>
<div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes()">
        <select>
            <option>Choix des produits</option>
        </select>
        <div class="overSelect"></div>
    </div>
    <div id="checkboxes">
        {% for produit in produits %}
            <label for="produit{{produit.id}}">
                <input type="checkbox" name='produit{{produit.id}}' id="produit{{produit.id}}" />{{produit.nom}}
            </label>
        {% endfor %}
    </div>
</div> 
<div class="form-group">
    <button class="btn btn-warning form-control mt-4">
        Modifier la commande
    </button>
</div>
{{ form_end(form) }}

{% endblock %}